body {
  background: url(../images/bonfire_yell.gif);
  color: white;
}

main {
  display: flex;
}

header marquee {
  font-size: 10vh;
}

main > marquee {
  behavior: alternate;
  width: 300px;
  height: 300px;
  border: none;
}

marquee > img {
  height: 200px;
}

.scooby-doo-caveman-marquee {
  /* position: fixed;

  top: 50vh;
  left: 50vw; */
}

.scooby-doo-caveman {
  width: 150px;
}

button {
  background: url(../images/flickering_fire.gif) no-repeat;
  color: #fff;
  height: 300px;
  width: 300px;
}

button:hover {
  color: aqua;
}

.grug-talk {
  width: 400px;
}

#text {
  display: flex;
  justify-content: space-around;
}

div > section {
  background-color: rgb(88, 22, 22);
}

p > img {
  height: 10px;
  float: right;
}

p > img:hover {
  height: 80vh;
  float: inline-end;
}
.spacing-1 {
  padding: 10px;
}

.spacing-2 {
  margin-bottom: 15px;
}

.spacing-3 {
  padding: 0;
  margin: -5px;
}

.spacing-4 {
  padding: 25px 0 25px 30px;
}
